.Hero{
    display: flex; 
}
img{
    width: 100%;
    height: auto;
}
.Textoprincipal{
   padding-top: 55px;
   font-family: Georgia, 'Times New Roman', Times, serif;
}
.presentacion{
    display: flex;
    flex-direction: column;
    gap: 55px;
}
.descdetexto{
    font-size: 17px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}