
.Hero {
    width: 110%;
    display: flex;
    padding-left: 1%;
    padding-top: 4.5%;
}

img {
    padding-top: 14%;
    width: 90%;
    height: auto;
}

.Textoprincipal {
    font-size: 150%;
    padding-right: 1%;
    padding-top: 34%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.botoninicio{
    width: 10%;
    height: 10%;
}
.presentacion {
    display: flex;
    flex-direction: column;
    gap: 2%;
}

.descdetexto {
    font-size: 65%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.formulario {
    padding: 1%;
}

.botonenviar {
    padding-top: 1%;
}

form {
    border: 1px solid gainsboro;
    padding: 2%;
    border-radius: 8px;
    background: white;
}

.footer {
    display: flex;
    justify-content: space-around;
    border: 1px solid gainsboro;
    padding: 15px;
    border-radius: 8px;
    background: white;
}
.navba {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

